* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.rectangulo {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    overflow: auto;
    transition-duration: 500ms;
    transition-timing-function: linear;
}

#layer4 #colorcentro {
    fill: red;
    fill-opacity: 1;
    stroke-width: 2.02030516;
}